@import '_vars';
@import '_global';
@import '_fonts';

.header__top{
    background-color: #eef1f3;
}
.header__top-inner{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}
.header__btn{
    margin-left: auto;
}
.btn__seller{
    width: 140px;
    height: 35px;
    background-color: #0674ec;
    border-radius: 70px;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    font-size: 14px;
    padding: 10px 15px 10px 15px;
    font-family: 'Quicksand', sans-serif;
    line-height: 15px;
}
.header__box{
    margin-left: 50px;
    a{
        padding: 20px;
    }
}
.header__user{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__notification{
    position: relative;
    span{
        contain: '';
        position: absolute;
        width: 25px;
        height: 22px;
        background-color: #ff6a6c;
        top: 5px;
        left: 30px;
        border-radius: 10px;
        font-size:14px;
        color: #fff;
        font-family: 'Quicksand', sans-serif;
        font-weight: 400;
        display: inline-block;
        text-align: center;
    }
}
.header__messager{
    position: relative;
    span{
        contain: '';
        position: absolute;
        width: 22px;
        height: 22px;
        border-radius: 20px;
        background-color: #62d03b;
        color: #fff;
        text-align: center;
        top: 3px;
        left: 30px;
        font-size:14px;
        font-family: 'Quicksand', sans-serif;
        font-weight: 400;
        display: inline-block;
    }
}
.basket{
    position: relative;
    span{
        contain: '';
        position: absolute;
        width: 22px;
        height: 22px;
        border-radius: 20px;
        background-color: #0674ec;
        color: #fff;
        text-align: center;
        top: 3px;
        left: 30px;
        font-size:14px;
        font-family: 'Quicksand', sans-serif;
        font-weight: 400;
        display: inline-block;
    }
}
.user-avotar{
    margin-right: 20px;
}
.user{
    background-color: #7c7979;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 20px;
}
.user-text{
    line-height: 25px;
}
.user__name{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #333333;
}
.price{
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #0674ec;
}


.menu{
    align-items: center;
    display: flex;
    height: 80px;
    li{
    display: inline-block;
    text-transform: uppercase;
       & + li{
        margin-left: 25px;
       }
    }
    
    a{
        color: #333333;
        font-size:  15px;
        font-family: 'Quicksand', sans-serif;
        font-weight: 400;
    } 
}

.header__menu-inner{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.header__form-search{ 
    form{
        &:focus{
            border: none;
        }
    }
    input{
        width: 360px;
        height: 45px;
        border-radius: 50px;
        border: 1px solid #d9dfe5;
        position: relative;
        padding-left:  15px;
        padding-right: 78px;
        &:focus{
        border: 1px solid #fff;
        }
    }
    &::placeholder{
        color: #b0b4b9;
       
    }
   
}

.saerch__btn{
    width:70px;
    height: 45px;
    background-color:#0674ec;
    border-radius: 50px;
    border: none;
    position: absolute;
    margin-left: -70px;
}

/* section*/
.section-produckt{
    height: 725px;
    background-color: #2549cc;
   
}
.section__inner{
    text-align: center;

}
.section__title, .section-text{
    color: #ffffff;
    font-size: 60px;
    font-family: 'Quicksand', sans-serif;
    line-height: 70px;
    
}
.section__title{
    padding-top: 185px;
    font-weight: 400;
}
.section-text{
    font-weight: 500;
    padding-bottom: 40px;

}
.section__inner{
    span{
        color: #ffffff;
        font-size: 20px;
        font-family: 'Quicksand', sans-serif;        
    }
}
.section__btn{
    margin-top:  70px;
}
.produckt-all, .produckt-popular{
    width: 190px;
    height: 55px;
    border: 1px solid #fff;
    border-radius: 30px;
    display: inline-block;
    padding-top: 15px;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif; 
    font-weight: 400;
}
.produckt-all{
    margin-right: 15px;
    background-color: #fff;
    a{
        color: #468bef;
    }
   
}
.produckt-popular{
    margin-left: 15px;
    a{
        color: #fff;
    }  
}

/*---------------box__option---------*/

.advantages{
    min-height: 650px;
}
.advantages__inner{
    display: flex;
    justify-content: space-between;
    margin-top: 165px;
    text-align: center;
}
.advantages__item{
    min-width: 360px;
    height: 420px;
    padding: 40px 35px 0px 35px;
    margin: 10px;
    img{
        margin-bottom: 40px;
    }
    .advantages__title{
        margin-bottom: 30px;
        font-size: 24px;
        font-family: 'Quicksand', sans-serif; 
        font-weight: 400;
        a{
            color: #010101;
        }
    }
    .advantages__text{
        font-size: 16px;
        font-family: 'Quicksand', sans-serif; 
        font-weight: 400;
        line-height: 24px;
        color: #555555;
    }
}
.box__active{
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
}


  